:root{
    --pageBackground: black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    height: 100vh;
    background: var(--pageBackground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    color: red;
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    border: 2px outset darkgrey;
    border-radius: 1em;
    background: rgb(128,128,128, .35);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 70vw;
    padding: 1em;
}
.todo-list > label{
    color: white;
    font-size: 4vh;
}
.todo-list > input{
    height: 5vh;
    width: 85%;
    font-size: 26px;
}
.todo-list > button{
    color: black;
    background: lightgrey;
    border: 2px outset black;
    border-radius: 1em;
    height: 6.5vh;
    width: 80%;
    font-size: 20px;
    font-weight: bold;
}

.todo-list > button:hover{
    cursor: pointer;
    color: white;
    background: darkgrey;
}

.movie-section{
    height: 100vh;
    width: 100vw;
    display: none;

     grid-template-areas:
                   'image info'
                   'image info'
                   'container container';
     grid-template-rows: repeat(2 , 1fr) 3fr;
     grid-template-columns: repeat(2, 1fr);
}

.movie-container{
    grid-area: container;
    background: black;
    display: flex;
    align-items: center;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}


.movie-info{
    grid-area: info;
    background: black;
    padding: 1em;
    display: flex;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vw;
}
.movie-image{
    grid-area: image;
    background: black;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
}

.movie-card{
    min-width: 80%;
    min-height: 50%;
    text-align: center;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-height: 90%;
    max-width: 80%;
    margin: 1em;
    padding: .5em;
    border: 2px inset darkgrey;
    border-radius: 1em;
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-card:hover{
    cursor: pointer;
    border: 2px inset orange;
}
.movie-title{
    background: black;
    border-radius: 1em;
    border: 1px solid white;
    padding: 1vh;
}



@media screen and (width < 800px){
.movie-container::-webkit-scrollbar {
                  display: none;
                }
}

@media screen and (width >= 800px){
    .movie-section{
         grid-template-areas:
             'image info'
             'container container';
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2 , 1fr);
    }
    .movie-container{
        overflow-x: scroll;
        overflow-y: hidden;
        flex-direction: row;
    }

    .movie-card{
        min-height: 90%;
        min-width: 15%;
    }

}